In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
from hmmlearn import hmm

In [70]:
bookvalue = pd.read_csv('data/BookValue.csv')
momentum = pd.read_csv('data/Momentum.csv')

In [71]:
df = momentum.drop(momentum.columns[[2, 3, 4, 5]], axis=1)
df = df.rename(columns={'Returns': 'Momentum'})
df['BookValue'] = bookvalue.iloc[:,1]

In [72]:
df.head()

         Date  Momentum  BookValue
0  2007-01-03  0.142173   0.048178
1  2007-01-04  0.378864  -0.127376
2  2007-01-05 -0.019659   0.009460
3  2007-01-08  0.032330   0.198087
4  2007-01-09 -0.225025  -0.003266

In [73]:
df.to_csv('data/Factors.csv')